In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [28]:
df = pd.read_csv(r"C:\Users\mk744\OneDrive - Poornima University\Desktop\cropdata_updated.csv").drop(columns=['Seedling Stage', 'MOI', 'temp', 'result'])
df.head()

  crop ID   soil_type  humidity
0   Wheat  Black Soil      80.0
1   Wheat  Black Soil      77.0
2   Wheat  Black Soil      74.0
3   Wheat  Black Soil      71.0
4   Wheat  Black Soil      68.0

In [29]:
X = df.iloc[:, 0:2]
y = df.iloc[:, -1]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.2, random_state=42)
X_train.shape

(13128, 2)

In [31]:
y_train.shape

(13128,)

In [32]:
y_train

14081    50.0
10934    37.0
2366     44.0
6366     17.0
6417     62.0
         ...
11284    67.0
11964    84.0
5390     88.0
860      74.0
15795    81.0
Name: humidity, Length: 13128, dtype: float64

In [33]:
ohe = OneHotEncoder()
ohe.fit_transform(X_train)

<13128x12 sparse matrix of type '<class 'numpy.float64'>'
	with 26256 stored elements in Compressed Sparse Row format>

In [34]:
X_train = ohe.fit_transform(X_train).toarray()
X_train

array([[0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [35]:
X_train.shape

(13128, 12)

In [36]:
ohe.categories_

[array(['Carrot', 'Chilli', 'Potato', 'Tomato', 'Wheat'], dtype=object),
 array(['Alluvial Soil', 'Black Soil', 'Chalky Soil', 'Clay Soil',
        'Loam Soil', 'Red Soil', 'Sandy Soil'], dtype=object)]

In [37]:
ohe.feature_names_in_

array(['crop ID', 'soil_type'], dtype=object)

In [38]:
pd.DataFrame(X_train, columns= ohe.get_feature_names_out())

,crop ID_Carrot,crop ID_Chilli,crop ID_Potato,crop ID_Tomato,crop ID_Wheat,soil_type_Alluvial Soil,soil_type_Black Soil,soil_type_Chalky Soil,soil_type_Clay Soil,soil_type_Loam Soil,soil_type_Red Soil,soil_type_Sandy Soil
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13123,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13124,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13125,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13126,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13127,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
ohe.inverse_transform(np.array([ 1. , 0., 0., 0., 0., 0., 0., 1,0., 0., 0., 0]).reshape(1,12))

array([['Carrot', 'Chalky Soil']], dtype=object)

In [45]:
ohe.inverse_transform(np.array([0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1.]).reshape(1, 12))

array([['Chilli', 'Alluvial Soil']], dtype=object)

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(13128, 2) (3283, 2) (13128,) (3283,)

In [48]:
import warnings
warnings.filterwarnings('ignore')
ohe = OneHotEncoder(drop = 'first',  sparse = False)
ohe.fit_transform(X_train).shape

(13128, 10)

In [49]:
ohe.drop_idx_

array([0, 0], dtype=object)

In [50]:
X_train['crop ID'].value_counts().reset_index(name = 'count').sort_values(by = 'index', ascending =  False)

    index  count
0   Wheat   4968
3  Tomato   1985
2  Potato   2003
1  Chilli   2193
4  Carrot   1979

In [51]:
ohe.get_feature_names_out()

array(['crop ID_Chilli', 'crop ID_Potato', 'crop ID_Tomato',
       'crop ID_Wheat', 'soil_type_Black Soil', 'soil_type_Chalky Soil',
       'soil_type_Clay Soil', 'soil_type_Loam Soil', 'soil_type_Red Soil',
       'soil_type_Sandy Soil'], dtype=object)