In [10]:
import pandas as pd
import numpy as np
data = pd.read_csv('Test set.csv')
data.head()

       Height     Weight     Sex
0  146.323241  59.861065  Female
1  175.695412  77.863687    Male
2  183.216164  72.131992    Male
3  184.245269  77.546000    Male
4  132.302261  55.188496  Female

In [11]:
import pandas as pd
import numpy as np
from scipy.stats import norm
class Solution:
     
     def __init__(self, mean, std_dev):
          self.mean = mean
          self.std_dev = std_dev
          
     def z_score(self, value):
          """
          Calculate  the z-score of a value
          """
          return (value - self.mean) / self.std_dev
     
     
     def Cumulative_Probability(self, value):
          """"
          Calculate  the cumulative probability of a value in a normal distribution
          """
          z = self.z_score(value)
          return norm.cdf(z)
     
     
     def Probability(self, value):
          """"
          Calculate the probability of a specific values
          """
          return self.Cumulative_Probability(value)
     
"""
Read the data  from the CSV file
"""
data = pd.read_csv('Test set.csv')

"""
Calculate mean, std for Height column
"""
mean = int(np.ceil(data['Height'].mean()))
std_dev = int(np.ceil(data['Height'].std()))

"""
Create an instance for Solution class
"""
sol = Solution(mean, std_dev)

"""
Apply z-score function to each values of Height column
"""
data['z_score_height'] =  data['Height'].apply(sol.z_score).round(2)

"""
Apply the Cummulative_Probability function to  each values of Height column
"""

data['Cumulative_Probability_height'] = data['Height'].apply(sol.Cumulative_Probability).round(2)

"""
Apply z-score function to each values of Weight column
"""
data['z_score_weight'] =  data['Weight'].apply(sol.z_score).round(2)

"""
Apply the Cummulative_Probability function to  each values of Weight column
"""
data['Cumulative_Probability_weight'] = data['Weight'].apply(sol.Cumulative_Probability)

data.head(10)

,Height,Weight,Sex,z_score_height,Cumulative_Probability_height,z_score_weight,Cumulative_Probability_weight
0,146.323241,59.861065,Female,-0.92,0.18,-6.32,1.297838e-10
1,175.695412,77.863687,Male,0.92,0.82,-5.20,1.018004e-07
2,183.216164,72.131992,Male,1.39,0.92,-5.55,1.394027e-08
3,184.245269,77.546000,Male,1.45,0.93,-5.22,9.147575e-08
4,132.302261,55.188496,Female,-1.79,0.04,-6.61,1.880258e-11
5,149.863914,66.055655,Female,-0.70,0.24,-5.93,1.478015e-09
6,191.173088,83.631339,Male,1.89,0.97,-4.84,6.639189e-07
7,135.407174,47.014457,Female,-1.60,0.05,-7.12,5.238284e-13
8,184.995763,71.935828,Male,1.50,0.93,-5.57,1.299454e-08
9,179.990887,65.920795,Male,1.19,0.88,-5.94,1.403964e-09

In [12]:
dataset = pd.read_csv(r"C:\Users\mk744\Downloads\StudentPerformanceFactors.csv")
dataset.select_dtypes(include='number').head()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
0,23,84,7,73,0,3,67
1,19,64,8,59,2,4,61
2,24,98,7,91,2,4,74
3,29,89,8,98,1,4,71
4,19,92,6,65,3,4,70

In [18]:
class Students_Performance:
     
     def __init__(
               self, mean, std_dev
               ):
               self.mean = mean
               self.std_dev = std_dev
               
          
     def z_score(
                 self, value
                ):
          
          return (
                   value - self.mean
                 ) / self.std_dev
     
     def Cummulative_Probability(
                                 self, value
                                ):
          
          import scipy.stats as stats
          z = self.z_score(value)
          return norm.cdf(z)
     
     
     def Probability(
                    self, value
                    ):
          
          return self.Cummulative_Probability(value)
     
     
df = pd.read_csv(
               r"C:\Users\mk744\Downloads\StudentPerformanceFactors.csv"
               )

mean =    int(
          np.ceil(
          df['Hours_Studied'].mean()
                 
          ))

std_dev = int(
          np.ceil(
          df['Hours_Studied'].std()
          ))

sol = Students_Performance(mean, std_dev)

df['z_score_hours_studied'] = df['Hours_Studied'].apply(
                                            sol.z_score
                                            ).round(2)

df['Probability_Hours_Studied'] = df['Hours_Studied'].apply(
                                                   sol.Cummulative_Probability
                                                   ).round(2)
df.filter(
     items=[
          'Hours_Studied',
          'z_score_hours_studied',
          'Probability_Hours_Studied'
          ])

      Hours_Studied  z_score_hours_studied  Probability_Hours_Studied
0                23                   0.50                       0.69
1                19                  -0.17                       0.43
2                24                   0.67                       0.75
3                29                   1.50                       0.93
4                19                  -0.17                       0.43
...             ...                    ...                        ...
6602             25                   0.83                       0.80
6603             23                   0.50                       0.69
6604             20                   0.00                       0.50
6605             10                  -1.67                       0.05
6606             15                  -0.83                       0.20

[6607 rows x 3 columns]

In [22]:
class Perform:
     
     def __init__(
                  self, mean, stddev
                 ):
                 self.mean = mean
                 self.stddev = stddev
                 
     def z_score(
                self, value
                ):
          """
          Calculate z-score of Attendance column
          """
          return (value - self.mean) / self.stddev
    
     def CDF(
            self, value
            ):
           """
           Calculate  CDF of Attendance column
           """
           z = self.z_score(value)
           return norm.cdf(z)
     
     def Prob(
             self, value
             ):
           """
           Calculate  probability of Attendance column
           """
           return self.CDF(value)
     
     
"""Read the data"""
data = pd.read_csv(
                  r"C:\Users\mk744\Downloads\StudentPerformanceFactors.csv"
                  )
"""
Calculate mean and std of Attendance column
"""
mean = int(
      np.ceil(
      data['Attendance'].mean()
      ))
stddev = int(
         np.ceil(
         data['Attendance'].std()
         ))

"""
Create an instance for Perform class
"""
per =  Perform(mean, stddev)


"""
Z-Score of, probability of Attendance column
"""
data[
    'z_score_attendance'
    ] =   data[
          'Attendance'
          ].apply(lambda x: round(per.z_score(x),2))
    
data[
     'probability_attendance'
    ] =    data[
          'Attendance'
          ].apply(lambda x: round(per.CDF(x), 2))
    


"""
Print the result of Attendance column
"""
data.filter(items=[
                  'Attendance',
                  'z_score_attendance',
                  'probability_attendance'
                  ]).head()

   Attendance  z_score_attendance  probability_attendance
0          84                0.33                    0.63
1          64               -1.33                    0.09
2          98                1.50                    0.93
3          89                0.75                    0.77
4          92                1.00                    0.84

In [21]:
import pandas as pd
import numpy as np
from scipy.stats import norm

class StudentsPerformance:
    def __init__(self, mean, std_dev):
        """Initialize the StudentsPerformance class with mean and standard deviation."""
        self.mean = mean
        self.std_dev = std_dev

    def z_score(self, value):
        """Calculate the Z-score for a given value."""
        if self.std_dev == 0:
            raise ValueError("Standard deviation cannot be zero.")
        return (value - self.mean) / self.std_dev

    def cumulative_probability(self, value):
        """Calculate the cumulative probability (CDF) for a given value."""
        z = self.z_score(value)
        return norm.cdf(z)

    def probability(self, value):
        """Calculate the probability for a specific value."""
        return self.cumulative_probability(value)


# Load the data
df = pd.read_csv(r"C:\Users\mk744\Downloads\StudentPerformanceFactors.csv")

# Calculate mean and standard deviation for 'Hours_Studied' column
mean = df['Hours_Studied'].mean()
std_dev = df['Hours_Studied'].std()

# Create an instance of the StudentsPerformance class
sol = StudentsPerformance(mean, std_dev)

# Apply the z_score and cumulative_probability functions to the 'Hours_Studied' column
df['z_score_hours_studied'] = sol.z_score(df['Hours_Studied']).round(2)
df['probability_hours_studied'] = sol.cumulative_probability(df['Hours_Studied']).round(2)

# Filter to show relevant columns
df_filtered = df[['Hours_Studied', 'z_score_hours_studied', 'probability_hours_studied']]

# Display the first few rows
print(df_filtered.head())

   Hours_Studied  z_score_hours_studied  probability_hours_studied
0             23                   0.50                       0.69
1             19                  -0.16                       0.44
2             24                   0.67                       0.75
3             29                   1.51                       0.93
4             19                  -0.16                       0.44